<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Game</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="{{  url_for('static', filename='style.css')  }}">
    <script type="text/javascript" src="{{  url_for('static', filename='app.js')  }}"></script>

</head>
<body>


</body>
</html>